.footer-wrapper {
  height: 10vh;
  width: 100%;
  background-color: #383b47;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: #ffffff91;
  font-size: 1.3rem;
}
