.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header-title-wrapper,
.header-search-wrapper {
  padding: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}
.header-title-wrapper {
  padding-bottom: 0;
  padding-top: 6rem;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
}

.header-title {
  font-size: 2.5rem;
  color: white;
}

@media only screen and (min-width: 0rem) and (max-width: 45rem) {
  .header-search-wrapper {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .header-title-wrapper {
    padding-bottom: 0;
    padding-top: 4rem;
  }
}
